In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
iris=load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [3]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [4]:
print(iris.target_names)
print(iris.feature_names)

['setosa' 'versicolor' 'virginica']
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [6]:
df=pd.DataFrame({'sepal length (cm)':iris.data[:,0],
                'sepal width (cm)':iris.data[:,1],
                'petal length (cm)':iris.data[:,2],
                'petal width (cm)':iris.data[:,3],
                'species':iris.target})
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
# splitting dataset into independant and dependant variables

In [8]:
X=df.iloc[:,0:4]
y=df.iloc[:,4]

In [9]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [10]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [12]:
# split data into train and test

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [15]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
54                 6.5               2.8                4.6               1.5
135                7.7               3.0                6.1               2.3
3                  4.6               3.1                1.5               0.2
124                6.7               3.3                5.7               2.1
105                7.6               3.0                6.6               2.1
..                 ...               ...                ...               ...
37                 4.9               3.6                1.4               0.1
20                 5.4               3.4                1.7               0.2
62                 6.0               2.2                4.0               1.0
141                6.9               3.1                5.1               2.3
91                 6.1               3.0                4.6               1.4

[120 rows x 4 columns]

In [16]:
X_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
4                  5.0               3.6                1.4               0.2
128                6.4               2.8                5.6               2.1
84                 5.4               3.0                4.5               1.5
59                 5.2               2.7                3.9               1.4
76                 6.8               2.8                4.8               1.4
40                 5.0               3.5                1.3               0.3
80                 5.5               2.4                3.8               1.1
81                 5.5               2.4                3.7               1.0
28                 5.2               3.4                1.4               0.2
133                6.3               2.8                5.1               1.5
47                 4.6               3.2                1.4               0.2
41                 4.5               2.3                1.3               0.3
65                 6.7               3.1                4.4               1.4
82                 5.8               2.7                3.9               1.2
99                 5.7               2.8                4.1               1.3
108                6.7               2.5                5.8               1.8
17                 5.1               3.5                1.4               0.3
120                6.9               3.2                5.7               2.3
26                 5.0               3.4                1.6               0.4
78                 6.0               2.9                4.5               1.5
8                  4.4               2.9                1.4               0.2
88                 5.6               3.0                4.1               1.3
21                 5.1               3.7                1.5               0.4
64                 5.6               2.9                3.6               1.3
94                 5.6               2.7                4.2               1.3
87                 6.3               2.3                4.4               1.3
61                 5.9               3.0                4.2               1.5
127                6.1               3.0                4.9               1.8
32                 5.2               4.1                1.5               0.1
119                6.0               2.2                5.0               1.5

In [17]:
y_train

54     1
135    2
3      0
124    2
105    2
      ..
37     0
20     0
62     1
141    2
91     1
Name: species, Length: 120, dtype: int32

In [18]:
y_test

4      0
128    2
84     1
59     1
76     1
40     0
80     1
81     1
28     0
133    2
47     0
41     0
65     1
82     1
99     1
108    2
17     0
120    2
26     0
78     1
8      0
88     1
21     0
64     1
94     1
87     1
61     1
127    2
32     0
119    2
Name: species, dtype: int32

In [19]:
len(X_train)

120

In [20]:
len(X_test)

30

# SVM

In [21]:
from sklearn.svm import SVC

In [26]:
model=SVC( kernel='rbf')
model.fit(X_train,y_train)

SVC()

In [27]:
model.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 2, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 2])

In [29]:
model.score(X_test,y_test)*100

100.0

In [82]:
print("test score :",model.score(X_test,y_test))
print("train score :",model.score(X_train,y_train))

test score : 1.0
train score : 0.9666666666666667

# check score of models

In [91]:
ypred=model.predict(X_test)

In [92]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score

In [95]:
cm=confusion_matrix(y_test,ypred)
acc=accuracy_score(y_test,ypred)
f1=f1_score(y_test,ypred,average='micro')

In [96]:
cm

array([[10,  0,  0],
       [ 0, 14,  0],
       [ 0,  0,  6]], dtype=int64)

In [97]:
acc

1.0

In [98]:
f1

1.0

In [46]:
model1=SVC( kernel='linear')
model1.fit(X_train,y_train)

SVC(kernel='linear')

In [47]:
model1.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 2])

In [49]:
model1.score(X_test,y_test)

0.9666666666666667

In [83]:
print("test score :",model1.score(X_test,y_test))
print("train score :",model1.score(X_train,y_train))

test score : 0.9666666666666667
train score : 0.9833333333333333

In [50]:
model2=SVC(kernel="sigmoid")
model2.fit(X_train,y_train)

SVC(kernel='sigmoid')

In [51]:
model2.predict(X_test)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2])

In [54]:
model2.score(X_test,y_test)*100 #not accurate so use only linear and rbf kernel for svm

20.0

In [81]:
print("test score :",model2.score(X_test,y_test))
print("train score :",model2.score(X_train,y_train))

test score : 0.2
train score : 0.36666666666666664

# RANDOM FOREST

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
rfc=RandomForestClassifier(criterion='gini')

In [37]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [38]:
rfc.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [39]:
rfc.score(X_test,y_test)*100

93.33333333333333

In [84]:
print("test score :",rfc.score(X_test,y_test))
print("train score :",rfc.score(X_train,y_train))

test score : 0.9333333333333333
train score : 1.0

In [40]:
rfc1=RandomForestClassifier(criterion='entropy')
rfc1

RandomForestClassifier(criterion='entropy')

In [41]:
rfc1.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy')

In [42]:
rfc1.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [44]:
rfc1.score(X_test,y_test)*100

93.33333333333333

In [85]:
print("test score :",rfc1.score(X_test,y_test))
print("train score :",rfc1.score(X_train,y_train))

test score : 0.9333333333333333
train score : 1.0

In [55]:
# use any method either gini or entropy same answer

# Decison Tree Classifier

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
dtc=DecisionTreeClassifier()
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [58]:
dtc.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [60]:
dtc.score(X_test,y_test)*100

93.33333333333333

In [86]:
print("test score :",dtc.score(X_test,y_test))
print("train score :",dtc.score(X_train,y_train))

test score : 0.9333333333333333
train score : 1.0

In [61]:
dtc1=DecisionTreeClassifier(criterion='entropy')
dtc1.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [62]:
dtc1.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [63]:
dtc1.score(X_test,y_test)*100

93.33333333333333

In [87]:
print("test score :",dtc1.score(X_test,y_test))
print("train score :",dtc1.score(X_train,y_train))

test score : 0.9333333333333333
train score : 1.0

In [64]:
# use any method either gini or entropy same answer

# Naive Bayes

In [65]:
from sklearn.naive_bayes import GaussianNB

In [66]:
gnb=GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB()

In [67]:
gnb.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [69]:
gnb.score(X_test,y_test)*100

93.33333333333333

In [88]:
print("test score :",gnb.score(X_test,y_test))
print("train score :",gnb.score(X_train,y_train))

test score : 0.9333333333333333
train score : 0.9666666666666667

# Logistic Regression

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
lrm=LogisticRegression()
lrm.fit(X_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [72]:
lrm.predict(X_test)

array([0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 0, 1])

In [74]:
lrm.score(X_test,y_test)*100

93.33333333333333

In [89]:
print("test score :",lrm.score(X_test,y_test))
print("train score :",lrm.score(X_train,y_train))

test score : 0.9333333333333333
train score : 0.9666666666666667

# LinearRegression

In [75]:
from sklearn.linear_model import LinearRegression

In [76]:
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [77]:
lr.predict(X_test)

array([-0.0684027 ,  1.9260301 ,  1.41285197,  1.25743646,  1.25367345,
       -0.02023947,  1.01856915,  0.93234407, -0.08347618,  1.44178174,
       -0.00340552,  0.09150097,  1.16766139,  1.05604633,  1.17101721,
        1.75078997, -0.01092343,  2.00038099,  0.11276   ,  1.34585014,
        0.03344936,  1.17419766,  0.06658909,  1.07250864,  1.20847556,
        1.18506768,  1.2897597 ,  1.60948513, -0.15777709,  1.48238941])

In [79]:
lr.score(X_test,y_test)*100

89.99973520952884

In [90]:
print("test score :",lr.score(X_test,y_test))
print("train score :",lr.score(X_train,y_train))

test score : 0.8999973520952884
train score : 0.9352245388121362

# Best method is use SVM for predicting values